<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Change password</h3>
  </div>
  <div class="panel-body">
    <form (ngSubmit)="changePassword(f.value)" #f="ngForm">
      <br>
      <div class="alert center-block alert-success col-xs-4 col-md-4 col-lg-4" *ngIf="success">
        Success!
      </div>
      <div class="alert center-block alert-danger col-xs-4 col-md-4 col-lg-4" *ngIf="!!error">
        {{ error }}
      </div>
      <br>
      <br>
      <div class="form-group">
        <label for="oldPassword">Old password</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" name="oldPassword" required [(ngModel)]="passwords.oldPassword" #oldPassword="ngModel">
        <div *ngIf="f.submitted && !oldPassword.valid" class="help-block error">Old password is required</div>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" class="form-control" id="password" placeholder="New Password" name="newPassword" required [(ngModel)]="passwords.newPassword" #newPassword="ngModel" >
        <div *ngIf="f.submitted && !newPassword.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password" name="confirmNewPassword" required [(ngModel)]="passwords.confirmNewPassword" #confirmNewPassword="ngModel" >
        <div *ngIf="f.submitted && !confirmNewPassword.valid" class="help-block">Password is required</div>
      </div>
      <hr>

      <div class="form-group">
        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Change</button>
      </div>
    </form>
  </div>
</div>
